blinker==1.8.2
click==8.1.7
colorama==0.4.6
flask==3.0.3
Flask-Cors==4.0.2
flask-sqlalchemy==3.1.1
greenlet==3.0.3
gunicorn==23.0.0
importlib-metadata==7.1.0
itsdangerous==2.2.0
jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.0
PyJWT==2.8.0
SQLAlchemy==2.0.30
typing-extensions==4.11.0
werkzeug==3.0.3
zipp==3.18.2
setuptools==80.9.0
